<%- include('includes/head.ejs')%>
</head>

<body class="scrollbar-inner wow fadeIn">
    <%- include('includes/nav.ejs')%>
    <main>
        <section id="home" class="img-webp">
            <div class="container">
                <h1 class="title mb-3">
                    <span class="wow fadeInDown" data-wow-delay="1.5s">Onde</span>
                    <span class="wow bounceInDown red" data-wow-delay="2s">suas ideias</span>
                    <br />
                    <span class="wow fadeInLeft red" data-wow-delay="2.5s"> evoluem</span>
                    <span class="wow fadeIn" data-wow-delay="3s">para</span>
                    <span class="wow bounceInUp red" data-wow-delay="3.4s">tecnologia</span>
                </h1>
                <div class="wow fadeInUp d-flex justify-content-center" data-wow-delay="4.2s">
                    <a role="button" href="#speak-us" class="btn-main font-weight-bold pulse">Quero evoluir minha ideia</a>
                </div>
            </div>
        </section>

        <section id="whoare" class="img-webp">
            <div class="container">
            <div class="d-flex align-items-center flex-column">
                    <h3 class="inner-title color-navy wow fadeInUp">
                        <span class="underline-red img-webp">Quem somos?</span>
                    </h3>
                    <p class="inner-desc color-navy wow fadeInUp">
                        Somos uma <b>agência jovem</b> com um grande desejo de <b>inovar e fazer diferente</b>. Nascemos da
                        necessidade de <b>quebrar padrões que limitam o potencial da sua solução</b> e
                        queremos evoluir seu negócio ao <b>próximo patamar digital</b>,
                        utilizando as <b>tecnologias mais atuais</b> do mercado!
                    </p>
                </div>
                <%- include('includes/sections/whoare-cards') %>
            </div>
        </section>
        <section id="some-works" class="img-webp">
            <div class="centered">
                <div class="container">
                    <h3 class="inner-title color-white wow fadeInUp" data-wow-delay="0.2s">
                        <span class="small">Ultimos</span><span class="underline-green img-webp">Projetos</span>
                    </h3>
                    <p class="inner-desc color-white wow fadeInUp" data-wow-delay="0.3s">
                        As últimas ideias que evoluímos!
                    </p>

                    <hr class="line--white wow fadeInUp" data-wow-delay="0.5s" />
                </div>
                <div class="works-list wow fadeInUp" data-wow-delay="0.6s">
                    <div class="owl-carousel owl-theme">
                        <% projs.forEach( proj => { %>
                        <div class="item">
                            <div class="work-card">
                                <div class="work-card__img">
                                    <img data-src="<%= proj.image.secure_url %>" src="/website/images/trumps/loading.gif"
                                        class="lazy" alt="<%= proj.titulo %>">
                                </div>
                                <div class="work-card__content">
                                    <h4 class="work-card__title"><%= proj.titulo %></h4>
                                    <p class="work-card__desc"><%= proj.descricao %>
                                    </p>
                                    <div class="work-card__link">
                                        <a href="/projeto<%= proj.codigo %>" role="button" class="btn-grad--red">
                                            Ver Mais
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
                <div class="view-more container wow fadeInUp">
                    <a role="button" href="/projetos" class="btn-grad--blue">Quero ver mais projetos</a>
                </div>
            </div>
        </section>
        <section id="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 testimonials__desc text-lg-left">
                        <h3 class="inner-title color-white wow fadeInUp mb-1" data-wow-delay="0.2s">
                            <span class="small color-navy">O que nossos</span><span class="color-main">Clientes
                                dizem</span></span>
                        </h3>
                        <p class="inner-desc color-white wow fadeInUp color-navy p-0" data-wow-delay="0.3s">
                            Um pouco de quem já evoluiu suas idéias e seu negócio!
                        </p>
                        <div class="testimonial__arrows">
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex justify-content-center align-items-center p-0">
                        <%- include('includes/components/testimonials-slider') %>
                    </div>
                </div>
            </div>
        </section>
        <section id="speak-us" class="img-webp">
            <div class="container">
                <%- include('includes/sections/speak-us') %>
            </div>
        </section>
    </main>
    <%- include('includes/footer.ejs')%>
</body>

</html>