<!-- partial:partials/_sidebar.html -->

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="<%= user.image.url %>" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Vitor Régis</span>
                    <span class="text-secondary text-small">Admnistrador</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item <%= path == '/' ? 'active' : '' %>">
            <a class="nav-link" href="/admin">
                <span class="menu-title">Estatísticas</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item <%= path == '/projetos' ? 'active' : '' %>">
            <a class="nav-link" data-toggle="collapse" href="#dropdown-projeto" aria-expanded="false"
                aria-controls="dropdown-projeto">
                <span class="menu-title">Projetos</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="dropdown-projeto">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item <%= subPath == '/projetos/list' ? 'active' : '' %>" > <a class="nav-link" href="/admin/projetos">Gerenciar projetos</a></li>
                    <li class="nav-item <%= subPath == '/projetos/new' ? 'active' : '' %>"> <a class="nav-link" href="/admin/projetos/new">Novo projeto</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item <%= path == '/clientes' ? 'active' : '' %>">
            <a class="nav-link" data-toggle="collapse" href="#dropdown-cliente" aria-expanded="false"
                aria-controls="dropdown-cliente">
                <span class="menu-title">Clientes</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="dropdown-cliente">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item <%= subPath == '/clientes/list' ? 'active' : '' %>"> <a class="nav-link" href="/admin/clientes">Gerenciar clientes</a></li>
                    <li class="nav-item <%= subPath == '/clientes/new' ? 'active' : '' %>"> <a class="nav-link" href="/admin/clientes/new">Novo cliente</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item <%= path == '/depoimentos' ? 'active' : '' %>">
            <a class="nav-link" data-toggle="collapse" href="#dropdown-depoimento" aria-expanded="false"
                aria-controls="dropdown-depoimento">
                <span class="menu-title">Depoimentos</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="dropdown-depoimento">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item <%= subPath == '/depoimentos/list' ? 'active' : '' %>"> <a class="nav-link" href="/admin/depoimentos">Gerenciar depoimentos</a></li>
                    <li class="nav-item <%= subPath == '/depoimentos/new' ? 'active' : '' %>"> <a class="nav-link" href="/admin/depoimentos/new">Novo depoimento</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item <%= path == '/noticias' ? 'active' : '' %>">
            <a class="nav-link" data-toggle="collapse" href="#dropdown-blog" aria-expanded="false"
                aria-controls="dropdown-blog">
                <span class="menu-title">Blog</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="dropdown-blog">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item <%= path == '/noticias/list' ? 'active' : '' %>"> <a class="nav-link" href="/admin/noticias">Gerenciar notícias</a></li>
                    <li class="nav-item <%= path == '/noticias/new' ? 'active' : '' %>"> <a class="nav-link" href="/admin/noticias/new">Nova notícia</a></li>
                    <li class="nav-item <%= path == '/noticias/authors' ? 'active' : '' %>"> <a class="nav-link" href="/admin/noticias/autores">Gerenciar autores</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item <%= path == '/conta' ? 'active' : '' %>">
            <a class="nav-link" data-toggle="collapse" href="#dropdown-conta" aria-expanded="false"
                aria-controls="dropdown-conta">
                <span class="menu-title">Minha conta</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="dropdown-conta">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item <%= path == '/conta/minhaconta' ? 'active' : '' %>"> <a class="nav-link" href="/admin/conta">Minha conta</a></li>
                    <li class="nav-item <%= path == '/conta/changepassword' ? 'active' : '' %>"> <a class="nav-link" href="/admin/changepassword">Mudar senha</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/admin/logout">Sair</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item sidebar-actions">
            <span class="nav-link">
                <button class="btn btn-block btn-lg btn-gradient-primary mt-1">+ Add a project</button>
            </span>
        </li>
    </ul>
</nav>

<!-- partial -->